:root {
    --green-btns: #b1da56;
    --green-phone: #b1df44;
    --green-number: #b4cb80;
    --green-guarantee: #9ba682;
    --green-meal-options: #acd752;
    --green-table: #aedd4f;
    --clear: #f6f7f6;
    --black: #262626;
    --white: #fff;

}

@font-face {
    font-family: Girlie;
    src: url(/assets/Fonts/girlie.ttf);
}

/* General Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
}

body {
    /* margin-left: 2rem;
    margin-right: 2rem; */
    color: var(--black);
}

ul {
    list-style: none;
}

.content {
    display:flex;
    flex-direction: column;
}

.section {
    display: grid;
    place-items: center;
}

.primary-btn {
    width: 15vw;
    height: 5vh;
    text-transform: uppercase;
    background-color: var(--green-phone);
    border: none;
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.guarantee {
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase;
    color: var(--green-guarantee);
    font-weight: 700;
    font-style: italic;
}

.titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.meal-kits-btn {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
}

.meal-kits-btn button {
    width: 300px;
    height: 5vh;
}

.meal-kits-btn p {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    align-items: center;
}



/* Navbar */


.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-item {
    text-align: center;
}

.nav-link {
    color: #000;
    text-decoration: none;
    transition: 0.5s ease;
    text-transform: uppercase;
    font-family: 'Girlie', cursive;
    font-size: 1rem;
}

.nav-link:hover {
    border-bottom:1px solid var(--green-phone);
    color: var(--green-number);
}

.navbar-info {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.navbar-phone-icon {
    background: var(--green-phone);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone {
    width: 18px;
}

.navbar-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    text-transform: uppercase;
}

.navbar-questions h4 {
    font-size: 12px;
    font-family: 'Girlie', cursive;
}

.navbar-questions p {
    color: var(--green-number);
    font-weight: 700;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
}

/* Main section */


.meal-kits {
    width: 100%;
    height: auto;
    background-color: var(--clear);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--clear);
}

.meal-kits-text {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/assets/pepperleaf-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.meal-kits-text h2 {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.supermarket-info {
    font-size: 15px;
    text-transform: capitalize;
    width: auto;
    margin-bottom: 10px;
    text-align: center;
}

.meal-kits-sponsors {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.meal-kits-sponsors p {
    text-transform: uppercase;
    font-size: 13px;
    margin: 24px 0;
}

.sponsors {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sponsors img {
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

.sponsors img:nth-child(4) {
    width: 200px;
}

.sponsors img:nth-child(6) {
    padding-right: 2rem;
}

/* Articles section */



.articles-section {
    background-image: url(/assets/bay-leaf.png), url(/assets/red-bell-pepper.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 100%, 0 ;
    background-position-y: 0, 30% ;
}

.article {
    display: flex;
}

.stressing-article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.article h2 {
    width: 20vw;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.article p {
    font-size: 12px;
    text-align: justify;
    width: 20vw;
    margin-bottom: 1rem;
}

.healthier {
    width: 60vw;
    align-items: center;
    justify-content: space-around;
}

.healthier h2 {
    text-align: start;
}

.food-kits {
    width: 60vw;
    align-items: center;
    justify-content: space-around;
}

.food-kits h2 {
    text-align: start;
}

.article-icon {
    width: 30px;
    height: 30px;
}

.money-back {
    text-align: center;
}

/* Meal kit cards */



.meal-kit-options {
    background: var(--green-meal-options);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

.meal-options-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meal-options-text h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.meal-options-text p {
    font-size: 10px;
    width: 550px;
    text-align: center;
}

.meal-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    place-items: center;
}

.meal-card {
    width: 60%;
    min-height: 60vh;
    background: var(--white);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.box img {
    margin-top: -20%;
}

.box h3 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.box-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
    border-top: 1px solid var(--green-number);
}

.box-recipe {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-around;
}

.box-recipe img {
    width: 20px;
    height: 20px;
}

.box-recipe p {
    width: 300px;
    font-size: 12px;
    margin-left: 1rem;
}

.btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.view-box {
    width: 75%;
    height: 5vh;
    border-radius: 25px;
    border: none;
    background: var(--green-meal-options);
    text-transform: uppercase;
    color: var(--clear);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Process section  */

.process {
    background-image: url(/assets/tomato.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5%;
    width: 100%;
    margin-top: 3rem;
}

.our-process h3 {
    text-align: center;
    color: var(--green-phone);
    text-transform: uppercase;
    font-size: 1rem;
}

.our-process h2 {
    text-align: center;
    text-transform: uppercase;
    width: 75%;
}

.steps-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    padding: 1rem;
}

.steps-line .row {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.steps-line .row .left,
.steps-line .row .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.steps-line .row .left::after,
.steps-line .row .right::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    border-style: none;
    border-width: thick;
}

.steps-line .row .left::after {
    right: -50%;
    border-top-style: dotted;
    border-top-color: var(--green-number);

}
.steps-line .row .right::after {
    left: -50%;
    border-top-style: dotted;
    border-top-color: var(--green-number);
}
.row img {
    width: 150px;
    height: 120px;
}

.row h3 {
    color: var(--black);
}

.left p {
    width: 300px;
}

.right p {
    width: 300px;
}

.white-circle {
    display: flex;
    border: 3px solid var(--clear);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--clear);

    position: relative;
}

.white-circle::after,
.white-circle::before {
    content: '';
    position: absolute;
    height: 90%;

    left: 50%;
    transform: translate(-50%, 0);

    border-style: none;
    border-left-style: dotted;
    border-left-color: var(--green-number);
    border-width: thick;

    z-index: 10;
}

.white-circle::before {
    top: -91%;
}

.white-circle::after {
    bottom: -90%;
}


.green-circle {
    display: flex;
    border: 3px solid var(--green-meal-options);;
    background: var(--green-meal-options);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-weight: 700;
}

.process-btn {
    margin: 5rem;
}

/* Our promise section */


.promise {
    background-image:
    linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
    url(/assets/pepperleaf-2.png);
    
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    padding: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.promise-icons {
    display: flex;
    width: auto;
    align-self: center;
    justify-content: center;
}

.promise-icons img {
    width: 50px;
    height: 50px;
}

.promise-circles {
    width: 20px;
    border: 2px dotted var(--white);
    height: 20px;
    border-radius: 50%;
    margin-top: 1rem;
}

.our-promise h4 {
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Girlie', cursive;
    color: var(--white);
    font-size: 1rem;
}

.promise-titles h3 {
    text-transform: uppercase;
    color: var(--green-table);
}

.promise-titles h2 {
    text-transform: uppercase;
    color: var(--white);
    width: 250px;
    text-align: center;
}

.promise-article {
    flex-direction: column;
    color: var(--white);
    font-size: 1rem;
    width: 100%;
    align-items: center;
}

.promise-article p {
    width: 350px;
}

/* Recipe form */


.recipes-form {
    align-items: center;
    margin: 0 auto;
}

.form-recipes-text {
    width: auto;
    min-height: 50vh;
}

.form-recipes-text h2{
    text-align: start;
}

.recipe-form {
    display: flex;
    flex-direction: column;
}

.recipe-form input {
    margin-bottom: 1rem;
    width: auto;
    height: 5vh;
    border-radius: 10px;
    background: var(--clear);
    border: none;
    cursor: pointer;
}

.download-btn {
    width: 100%;
}

/* Recipes section */


.recipes {
    background: var(--clear);
}

.recipes h3 {
    color: var(--green-table);
    text-transform: uppercase;
}

.recipes h2 {
    text-transform: uppercase;
}

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.principal-recipe-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.principal-recipe-image img {
    width: 800px;
    height: 500px;
    position: relative;
}

.principal-recipe-image button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--green-table);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
}

.principal-recipe-image button img {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
}

.preview {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.preview img{
    width: 200px;
    height: 150px;
    cursor: pointer;
}

.preview img.active {
    border: 5px solid var(--green-table);
}


/* About Us section */

/*
.guarantee-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.guarantee-title h3 {
    color: var(--green-table);
    text-transform: uppercase;
    font-family: 'Girlie', cursive;
    font-size: 2rem;
}

.guarantee-title img {
    width: 100px;
    height: 150px;
}

.about-us .titles h2 {
    width: 450px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about-us article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guarantee-info {
    width: 350px;
}

.guarantee-info p {
    margin-bottom: 2rem;
    font-size: 12px;
    text-align: justify;
}

.about-us article:nth-child(2) img {
    width: 30px;
    height: 30px;
    margin-bottom: 1rem;
}

.about-us {
    background-image: url(/assets/video-bg-1.png),url(/assets/video-bg-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x:0, 100%;
    background-position-y:100%, 100%;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Contact Form */

.form-contact-section {
    margin-top: 5rem;
    background-image: 
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(/assets/delivery-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    width: 100%;
}

.form-contact-section article {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-contact-section h2 {
    color: var(--white);
    width: 550px;
    text-align: center;
}

.form-contact-section p {
    color: var(--white);
    width: 450px;
    font-size: 1rem;
}

.info-check {
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.info-check p {
    margin: 16px 16px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    align-items: center;
}

.contact-form input {
    margin-bottom: 1.5rem;
    border-radius: 5px;
    width: 450px;
}

.contact-form input:nth-child(3){
    border-radius: 50%;
    border: 2px solid red;
}

.contact-form textarea {
    height: 15vh;
    width: 450px;
    max-width: 500px;
    max-height: 15vh;
    border-radius: 10px;
    margin-bottom: 2rem;
}

form label span {
    display: none;
}

form label:has(input[error="true"]) span,
form label:has(textarea[error="true"]) span {
    color: red;
    display: block;
}

form label:has(input[error="true"]) input {
    border: 3px solid red;
}


/*
@media(max-width: 850px) {
    body {
        width: 100%;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        left: 0;
    }

    .content.active {
        background: rgba(0, 0, 0, 0.8);
    }
    .navbar-info {
        display: none;
    }

    .section {
        width: 100%;
        margin: 0 0;
    }

    .meal-kits-text {
        width: auto;
    }

    .meal-kits-text h2 {
        font-size: 1rem;
    }

    .supermarket-info {
        font-size: 10px;
    }

    .primary-btn {
        width: auto;
        font-size: 10px;
    }
} */
